/* Add some transitions for smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* Use the font in your styles */
body {
    font-family: 'Arial', sans-serif;
    color: #9231f3;
    text-align: center;
}

header {
    background-color: #fff;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
    
/* Responsive styles for header */
@media (max-width: 768px) { /* Adjust breakpoint as needed */
    header {
        flex-direction: column;
        text-align: center;
    }

    .header-logo img {
        width: 150px; /* Smaller logo for mobile */
        margin-bottom: 10px;
    }

    .header-button {
        flex-direction: column;
        align-items: center;
    }

    .header-button a {
        margin-bottom: 10px;
        margin-right: 0;
    }
}

/* Logo styles */
.header-logo img {
    width: 200px; /* Adjust the logo size as needed */
}

.header-button .contact-button {
    background-color: #fff;
    color: #9231f3; /* Text color when not hovered */
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #9231f3; /* Border properties */
    border-radius: 25px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

/* Links styles */
.header-button a {
    text-decoration: none;
    margin-right: 20px; /* Add spacing between links */
}

.header-button img {
    width: 30px; /* Adjust the image size as needed */
    vertical-align: middle;
}

.header-button .contact-button:hover {
    background-color: #9231f3; /* Background color when hovered */
    color: #fff; /* Text color when hovered */
}

/* WELCOME SECTION */
#welcome {
    padding: 5px;
    padding-bottom: 50px;
    background-color: #fff;
    color: #141C3A;
}

.welcome-image {
    width: 25%; /* Adjust this value based on your layout needs */
    height: auto;
    display: block; /* To ensure it centers in the parent element */
    margin: auto; /* Center the image */
}

.welcome-header, .welcome-paragraph {
    margin-left: 20%; /* Adds space outside the element on the left */
    margin-right: 20%; /* Adds space outside the element on the right */
}

.welcome-header {
    text-align: center;
    font-size: 3em;
    margin-top: 5%;
    margin-bottom: 1%;
}

.welcome-paragraph {
    text-align: center;
    font-size: 1.5em;
}

/* ABOUT SECTION */
#about {
    padding: 5px;
    padding-bottom: 50px;
    background-color: #9231f3;
    color: #fff;
}

.about-me-header, .about-me-paragraph {
    margin-left: 20%; /* Adds space outside the element on the left */
    margin-right: 20%; /* Adds space outside the element on the right */
}

.about-me-header {
    text-align: center;
    font-size: 3em;
    margin-top: 5%;
    margin-bottom: 1%;
}

.about-me-paragraph {
    text-align: center;
    font-size: 1.5em;
}

/* SKILLS SECTION */
#skills {
    padding: 5px;
    padding-bottom: 50px;
    background-color: #fff;
    color: #141C3A;
}

.skills-header {
    text-align: center;
    font-size: 3em;
    margin-top: 5%;
    margin-bottom: 1%;
}

.card-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.card {
    width: 300px; /* Or any other width */
    box-shadow: 0 4px 8px 0 #6e4894;
    border-radius: 15px; /* Makes the card boxes rounded */
    overflow: hidden; /* Ensures the content respects the border radius */
    margin: 10px;
    transition: 0.3s;
    background-color: #b879f7; /* Assuming you want a white background */
    display: flex; /* Enables flexbox */
    justify-content: center; /* Centers children horizontally */
    align-items: center; /* Centers children vertically */
    flex-direction: column; /* Stack children vertically */
    padding: 30px; /* Padding inside the card */
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img {
    max-width: 100%; /* Ensures the image is not wider than the card */
    max-height: 100%; /* Ensures the image is not taller than the card */
    object-fit: contain; /* Ensures the image maintains its aspect ratio */
}

/* CONTACT SECTION */
#contact {
    padding: 5px;
    padding-bottom: 50px;
    background-color: #9231f3;
    color: #fff;
}

.contact-header {
    text-align: center;
    font-size: 3em;
    margin-top: 5%;
    margin-bottom: 1%;
}

.contact-paragraph {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 30px; /* Increased space below the paragraph */
}

.contact-large-button {
    display: inline-block; /* Allows margin to be applied properly */
    background-color: #9231f3;
    color: #fff; /* Text color when not hovered */
    margin-top: 30px; /* Increased space above the button */
    padding: 10px 20px;
    text-decoration: none;
    font-size: 2.5em;
    border: 2px solid #fff; /* Border properties */
    border-radius: 25px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.contact-large-button:hover {
    background-color: #fff; /* Background color when hovered */
    color: #9231f3; /* Text color when hovered */
}

footer {
    background-color: #fff;
    color: #9231f3;
    padding: 20px 0;
    text-align: center;
}

/* Responsive styles for footer */
@media (max-width: 768px) { /* Adjust breakpoint as needed */
    .footer-content {
        flex-direction: column;
    }

    .footer-logo img {
        width: 80px; /* Adjust the logo size for mobile */
        margin-bottom: 10px;
    }

    .footer-social-links a {
        margin: 0 5px;
    }
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-logo img {
    width: 100px; /* Adjust according to your preference */
    margin-bottom: 20px;
}

.footer-social-links a {
    margin: 0 10px;
    display: inline-block;
}

.footer-social-links img {
    width: 30px; /* Adjust according to your preference */
    vertical-align: middle;
}

.footer-contact-link {
    margin-top: 20px;
}
