<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Emory Otott</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <img src="{{ url_for('static', filename='icon.jpg') }}" alt="Welcome Banner" class="welcome-banner">

  <div id="about" class="panel" data-aos="fade-up">
    <h2>About Me</h2>
    <p>This is the about me panel.</p>
  </div>

  <div id="projects" class="panel" data-aos="fade-left">
    <h2>Skills</h2>
    <p>This is the skills panel.</p>
  </div>

  <div id="contact" class="panel" data-aos="fade-right">
    <h2>Contact</h2>
    <p>This is the contact panel.</p>
  </div>

  <!-- Your content here -->
  <!-- Add Bootstrap JS and its dependencies -->
  <script src="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.js"></script>
  <script src="static/script.js"></script>
</body>
</html>