<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Emory Otott</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <header>
    <div class="header-logo">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
    </div>
    <div class="header-button">
      <a href="https://github.com/tot19" target="_blank" rel="noopener noreferrer">
        <img src="{{ url_for('static', filename='github.png') }}" alt="GitHub">
      </a>
      <a href="https://www.linkedin.com/in/emoryotott" target="_blank" rel="noopener noreferrer">
        <img src="{{ url_for('static', filename='linkedin.png') }}" alt="LinkedIn">
      </a>
        <a href="{{ url_for('contact') }}" class="contact-button">Contact Me</a>
    </div>
  </header>
  <h1 class="welcome-header">Welcome to my website!</h1>
  <p class="welcome-paragraph">My name is Emory Otott, and I am a DevOps Engineer. I specialize in delivering automation solutions with Python and Ansible.</p>
  <img src="{{ url_for('static', filename='icon.jpg') }}" alt="Welcome Banner" class="welcome-image">
  <div id="about" class="panel" data-aos="fade-up">
    <h2>About Me</h2>
    <p>This is the about me panel.</p>
  </div>

  <div id="projects" class="panel" data-aos="fade-left">
    <h2>Skills</h2>
    <p>This is the skills panel.</p>
  </div>

  <div id="contact" class="panel" data-aos="fade-right">
    <h2>Contact</h2>
    <p>This is the contact panel.</p>
  </div>

  <!-- Your content here -->
  <!-- Add Bootstrap JS and its dependencies -->
  <script src="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.js"></script>
  <script src="static/script.js"></script>
</body>
</html>